.character-detail-container {
  max-width: 55rem;
  max-height: auto;
  margin: 4rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detail-heading {
  color: #333;
}

.character-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: justify;
  line-height: 1 !important;
  margin-bottom: -3 !important;
}

.character-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.character-lore {
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.character-description {
  line-height: 1 !important;
  margin-bottom: 0 !important;
  color: #000000;
  width: 45rem;

}

.character-image-container {
  margin-top: 16px;
}

.character-image {
  max-width: 40%;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 8px auto;
}

.character-description {
  line-height: 1 !important;
  margin-bottom: 0 !important;
}

.edit-button {
  display: inline-block;
  padding: 10px 15px;
  max-width: 10rem;
  text-align: center;
  background-color: #054321;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #710404;
}

.back-button {
  position: absolute;
  top: 5rem;
  right: 32rem;
  padding: 10px 15px;
  background-color: #211374;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #555;
}