.character-detail-container {
  max-width: 45rem;
  max-height: auto;
  margin: 4rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detail-heading {
  color: #333;
}

.character-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: justify;
}

.character-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.character-lore {
  margin-top: 8px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.character-description {
  margin-top: 8px;
  color: #000000;
  width: 45rem;
  overflow-y: auto; /* Přidáno zobrazení s posuvníkem při přesahujícím obsahu */
}

.character-image-container {
  margin-top: 16px;
}

.character-image {
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 8px auto;
}