.character-edit-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

.edit-heading {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}

.edit-form-group {
  margin-top: 20px;
}

.custom-input {
  width: 50%;
  margin-bottom: 10px; /* Změna výšky */
  padding: 8px; /* Změna výšky */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-character {
  background-color: #2ecc71;
  color: #fff;
  padding: 12px 16px; /* Změna výšky */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-character:hover {
  background-color: #27ae60;
}

.success-message {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.back-to-detail {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.back-to-detail:hover {
  text-decoration: underline;
}