.menu {
    background-color: #333; /* Barva pozadí menu */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Stín pod menu */
    padding: 0 1px; /* Odsazení vnitřního obsahu */
  }
  
  .position {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    height: 60px; /* Výška menu */
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #fff; /* Barva textu odkazu */
    font-size: 1.2rem; /* Velikost písma odkazu */
    font-weight: bold;
    transition: color 0.3s ease-in-out; /* Animace změny barvy textu */
  }
  
  a:hover {
    color: #ff7f50; /* Barva textu při najetí myši */
  }
  
  /* Styl pro aktuální stránku */
  a.active {
    color: #ff7f50;
    border-bottom: 2px solid #ff7f50; /* Spodní linka pro označení aktuální stránky */
  }